footer .link-icons a {
  background-color: orangered;
  border-radius: 100%;
  color: white;
  padding: 10px 10px;
  margin: 0px 10px;
  cursor: pointer;
  transition: 0.5s;
  text-decoration: none;
  min-height: 300px;
  width: 100%;
}
